@use '../abstract/' as abstract;
// FILTER- POPPER

.filter-popper {
      //  display: none;
      position: absolute;
      left: 10px;
      bottom: 0;
      transform: translateY(100%);
      z-index: 2;
      opacity: 0;
      visibility: hidden;

      transition: visibility, opacity;
      transition-duration: 0.3s;

      &.show {
            visibility: visible;
            opacity: 1;
      }

      &__inner {
            position: relative;
            min-width: 160px;
            margin-top: 16px;
            background-color: var((--white));
            box-shadow: 8px -8px 48px rgba(0, 0, 0, 0.2);
            padding: 12px 0 12px 12px;
            min-height: 100px;
            border-radius: 6px;

            &.width-auto {
                  width: fit-content;
                  padding-right: 12px;
            }

            &::after {
                  position: absolute;
                  content: '';
                  left: 0;
                  top: 0;
                  width: 20px;
                  height: 12px;
                  border-radius: 4px;
                  background-color: var(--white);
                  transform: translateY(-50%);
                  rotate: 45deg;
            }
      }

      &__list {
            display: flex;
            flex-direction: column;
            gap: 3px;
            max-height: 220px;
            overflow-y: scroll;
            padding-right: 12px;
      }

      &__item {
            font-family: 'Inter', sans-serif;
            font-size: 1.5rem;
            line-height: 1.5;
            font-weight: 500;
            color: var(--filter-popper-item-text-color);
            cursor: pointer;
            transition: background-color color;
            transition-duration: 0.3s;
            text-wrap: nowrap;

            &.sort {
                  padding: 6px 8px;
                  border-radius: 6px;

                  &:hover {
                        background-color: var(--filter-popper-item-hover-bg-color);
                  }

                  &.active {
                        background-color: var(--filter-popper-item-hover-bg-color);
                  }
            }

            &.guest {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 42px;
            }
      }

      &__alter-text {
            margin-top: 6px;
            font-family: 'Inter', sans-serif;
            font-size: 1.3rem;
            font-weight: 500;
            color: var(--filter-popper-alter-text-color);
      }

      &__controls {
            display: flex;
            align-items: center;
      }

      &__wrap-icon {
            cursor: pointer;
            user-select: none;
            img {
                  width: 20px;
            }
      }

      &__number {
            width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
      }

      // LOCATION:
      &__location-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 12px;
            padding-bottom: 6px;
            gap: 4px;
            border-bottom: 1px solid var(--filter-popper-location-header-border-color);
      }

      &__input {
            // background-color: red;
            max-width: 88px;
            font-weight: 500;
            font-family: 'Inter', sans-serif;
            font-size: 1.4rem;
            color: var(--header-button-bg-color);

            &::placeholder {
                  font-weight: 500;
                  font-family: 'Inter', sans-serif;
                  font-size: 1.4rem;
            }
      }

      &__location-suggest {
            margin-top: 6px;
            max-height: 178px;
            overflow-y: scroll;
      }

      &__budget {
            padding-right: 12px;
      }

      &__price {
            &-range {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 16px;
                  border-bottom: 1px solid #eee;
                  padding-bottom: 10px;
                  margin-bottom: 24px;
            }

            &-value {
                  flex: 1;
                  border: 1px solid #ddd;
                  padding: 6px 8px;
                  border-radius: 4px;
                  white-space: nowrap;
            }

            &-label {
                  font-weight: 500;
                  font-family: 'Inter', sans-serif;
                  font-size: 1.5rem;
                  color: #6d6565;
            }
            &-apply-btn {
                  padding: 6px 8px;
                  margin-left: 24px;
                  font-weight: 400;
                  font-family: 'Inter', sans-serif;
                  font-size: 1.4rem;
                  color: var(--white);
                  line-height: 1.5;
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  cursor: pointer;
                  background-color: var(--header-button-bg-color);
                  border-radius: 4px;

                  img {
                        rotate: 180deg;
                        width: 18px;
                        filter: brightness(0) saturate(100%) invert(100%) sepia(32%) saturate(0%) hue-rotate(115deg)
                              brightness(103%) contrast(101%);
                  }
            }
      }

      // END LOCATION
}
